body {
  margin: 0;
  
}

.registro-container {
  background-color: white;
  min-height: 800vh;
}

.barra-superior {
  height: 90px;
  background-color: #5f7b39;
  width: 100%;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;


}

@media (min-width: 768px) {
  .contenido {
    flex-direction: row;
    justify-content: center;
    gap: 80px;
  }
}

.logo-container {
  margin-bottom: 30px;
  padding-right: 100px;
}

.logo {
  width: 290px;
  height: 290px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 360px;
  padding-left: 100px;
}
.texto-titulo{
    font-size: 44px;
    text-align: center;
   color: black;
   font-weight: 700;
}

.titulo{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.formulario input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fefae0;
  font-size: 20px;

}

.btn-enviar {
  background-color: #2d3d25;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
   font-size: 20px;
}

.texto-login {
  font-size: 12px;
  color: #e5864f;
  text-align: center;
   font-size: 20px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
   font-size: 20px;
}

.btn-iniciar {
  background-color: #e5864f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
   font-size: 20px;
}