html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.registro-container {
  background-color: white;
 min-height: 100vh; /* 100% altura ventana */
}

.barra-superior {
  height: 90px;
  background-color: #5f7b39;
  width: 100%;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;


}

@media (min-width: 768px) {
  .contenido {
    flex-direction: row;
    justify-content: center;
    gap: 80px;
  }
}

.logo-container {
  margin-bottom: 30px;
  padding-right: 100px;
}

.logo {
  width: 290px;
  height: 290px;
}

.texto-titulo{
    font-size: 44px;
    text-align: center;
   color: black;
   font-weight: 700;
   margin-bottom: 5px;
}
.fila.una-columna input {
  margin: 0;
}


.titulo{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.formulario {
  max-width: 840px;
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.fila {
  display: grid;
  width: 100%;
  gap: 15px;
}

.tres-columnas {
  grid-template-columns: repeat(3, 1fr);
}

.dos-columnas {
  grid-template-columns: repeat(2, 1fr);
}

.una-columna {
  grid-template-columns: 1fr;
}

/* Inputs más grandes, más legibles */
.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="password"],
.formulario input[type="tel"],
.formulario input[type="number"],
.formulario input {
  width: 100%;
  height: 50px;      /* un poco más alto */
  padding: 12px 14px; /* más padding */
  font-size: 20px;    /* texto más grande */
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fefae0;
  box-sizing: border-box;
  margin-bottom: 0;   /* quitamos el margin para controlar con gap */
}

.error {
  width: 700px; 
  max-width: 100%;
  color: #a70000;
  border-radius: 6px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
  box-sizing: border-box;
  font-size: 22px;
}


.btn-enviar {
  background-color: #2d3d25;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
   font-size: 20px;
}

.texto-login {
  font-size: 12px;
  color: #e5864f;
  text-align: center;
   font-size: 20px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
   font-size: 20px;
}

.btn-iniciar {
  background-color: #e5864f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
   font-size: 20px;
}